pandas
numpy
Django==5.0.8
psycopg2-binary
djangorestframework
django-filter
pillow
djangorestframework-simplejwt
drf-nested-routers
pytest-django
django-cors-headers
python-dotenv
gunicorn
django-redis
